header {
    font-family: Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 50px;
}
  nav a:hover {
      text-decoration: underline;
  }
main {
    background: url(../images/hero\ image\ boxing.jpg) no-repeat center / cover;
    height: 600px;
    width: 100%;
}

footer {
    font-family: Arial, sans-serif;
        background-color: black;
        color: whitesmoke;
        width: 100%;
        text-align: center;
        height: 74px;
}