header {
    font-family: Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    text-align: center;

}

header nav {
    display: none;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 180%;

}

h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}


nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 50px;

}

nav a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
    padding: 0em;
    text-align: center;
    padding: 8 8 8 8;

}

body {
    margin: 0;
    padding: 0em;
}

main {
    background: url(../images/hero\ image\ boxing.jpg) no-repeat center / cover;
    height: 500px;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
}

#about {
    background-color: black;
    color: whitesmoke;
    padding: 0 0;
}




footer {
    font-family: Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 50px;
}

footer nav {

    color: whitesmoke;
    text-decoration: none;
    text-align: center;


}

@media screen and (min-width: 768px) {
    header nav {
        display: block;

    }

}