header {
    font-family: Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    
}

nav a {
    color: white;
    text-decoration: none;
}